/* *Sección Sobre mí */
.about {
    background: var(--cor-de-second-section);
    display: flex;
    justify-content: center;
    /* Centra horizontalmente en el viewport */
    align-items: center;
    /* Centra verticalmente en el viewport */
    width: 100%;
    /* Ocupa todo el ancho disponible del viewport */
}

.about__container {
    display: flex;
    flex-direction: column;
    /* Cambia a disposición en columna */
    justify-content: center;
    align-items: flex-start;
    /* Alinea los elementos a la izquierda */
    width: 100%;
    /* Ancho máximo permitido */
    max-width: 88%;
    height: 255px;
    background: var(--cor-de-second-section);
}

.about__title {
    font-size: 32px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 15px;
    margin: 10px;
}

.about__paragraph {
    margin-bottom: 2px;
    text-align: justify;
    /* Aplica justificación al texto */
    font-weight: 400;
    margin: 10px;
    
}

