section.menu{
    width: 100%;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente el contenido */
    align-items: center;
    /* Centra verticalmente el contenido */
}

.menu__header{
    width: 100%;
    /* Ocupa todo el ancho disponible del viewport */
    max-width: 85%;
    /* Ancho máximo permitido */
    height: 88px;
    display: flex;
    justify-content: center;
    /* Alinea los elementos del encabezado en los extremos */
    align-items: center;
    /* Centra verticalmente los elementos del encabezado */
    /* Añade espacio interno a los lados del encabezado */
    background: var(--cor-de-first-section);
    /* Color de fondo del encabezado */
    margin-top: 0;
    /* Elimina el margen superior */
    padding: 0 20px;
    /* Añade espacio interno a los lados del encabezado */
    /* Centra y distribuye el espacio equitativamente */
    margin: 0;
    /* Centra el encabezado horizontalmente */
}

/* Estilo para el logo en el encabezado */
.menu__logo{
    width: 70px;
    /* Tamaño del logo */
    height: 40px;
    /* Mantiene la proporción del logo */
    margin-right: 10px;
    /* Margen derecho para separación */
}

.menu__title {
    margin-right: auto;
    font-size: 16px;
    font-weight: bold;
}

/* Estilo para el icono de menú */
.menu__toggle {
    display: none;
    /* Oculta el icono de menú */
    cursor: pointer;
    /* Cambia el cursor al pasar por encima */
}

/* Estilo para el icono de barras en el menú */
.menu__toggle i.fas.fa-bars {
    font-size: 30px;
    /* Cambia el tamaño del ícono de barras */
}

.menu__nav {
    display: block;
    /* Mostrar el menú en pantallas grandes por defecto */
}

/* Estilo para la lista del menú  */
.menu__list {
    display: flex;
    align-items: center;
    /* Centra verticalmente los elementos de la lista del menú */
    margin-top: 10px;
    /* Margen superior para separación */
    font-size: 16px;
    font-size: medium;
    list-style-type: none;
}

/* Estilo para los elementos de la lista del menú */
.menu__list__item {
    margin-right: 30px;
}